@font-face {
    font-family: 'RobotoRegular';
    src: url('.././assets/fonts/Roboto-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: "RobotoRegular", "Helvetica Neue", sans-serif;
    font-size: 14px;
}

p {
    color: #999;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

body {
    background-color: #CDCCC8;
}



@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}

@media screen and (max-width: 1252px) {

}

/*** Start of large tablet styles ***/
@media screen and (max-width: 991px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .container {
        padding-right: 0px;
        padding-left: 0px;
    }

    .Serach {
        width: 150px;
    }
}

/*** Start of medium tablet styles ***/
@media screen and (max-width: 768px) {

}

